form {
  margin: auto;
  margin-top: 100px;
  width: 450px;
  /*border: 1px solid #000004;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #000004;
}

input {
  &[type=text], &[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

label {
  font-family: source sans pro;
  color: white;
}

button {
  background-color: #C03221;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

body {
  background-image: url("../img/blurred-blue-background.jpg");
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.head-container {
  width: 100%;
  background-color: #C03221;
  padding: 1px 0px 1px 0px;
  > p {
    color: white;
    text-align: center;
    font-family: avenir;
    font-weight: bold;
    font-size: 2em;
  }
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}