@import url(http://weloveiconfonts.com/api/?family=brandico);
.login-form {
  margin: auto;
  margin-top: 100px;
  width: 450px;
  /*border: 1px solid #000004;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #000004; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

label {
  font-family: source sans pro;
  color: white; }

button {
  background-color: #C03221;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; }

body {
  background-image: url("../img/blurred-blue-background.jpg"); }

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336; }

.head-container {
  width: 100%;
  background-color: #C03221;
  padding: 1px 0px 1px 0px; }
  .head-container > p {
    color: white;
    text-align: center;
    font-family: avenir;
    font-weight: bold;
    font-size: 2em; }

.container {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: black;
  min-height: 100%;
  font-family: "Arial", sans-serif; }

.wrap {
  position: relative;
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px; }

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%; }

@keyframes matchAnim {
  0% {
    background: #bcffcc; }
  100% {
    background: white; } }

.no-pad {
  padding: 0 !important; }

.card-item {
  height: 5em;
  text-align: center;
  display: block;
  perspective: 500px;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: transparent; }
  .card-item .inside {
    height: 100%;
    transform-style: preserve-3d;
    transition: .4s ease-in-out; }
    .card-item .inside.picked, .card-item .inside.matched {
      transform: rotateY(180deg); }
    .card-item .inside.matched {
      animation: 1s matchAnim ease-in-out;
      animation-delay: .4s; }
  .card-item .front, .card-item .back {
    border: 1px solid black;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .card-item .front img, .card-item .back img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      max-height: 100%; }
  .card-item .front {
    transform: rotateY(-180deg); }
    @media (max-width: 800px) {
      .card-item .front {
        padding: 5px; } }
  @media (max-width: 800px) {
    .card-item .back {
      padding: 10px; } }

.modal-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal {
  display: none;
  position: relative;
  width: 500px;
  height: 400px;
  max-height: 90%;
  max-width: 90%;
  min-height: 380px;
  margin: 0 auto;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px; }
  .modal .winner {
    font-size: 80px;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #4d4d4d;
    text-shadow: 0px 3px 0 black; }
    @media (max-width: 480px) {
      .modal .winner {
        font-size: 60px; } }
  .modal .restart {
    font-family: "Anton", sans-serif;
    margin: 30px auto;
    padding: 20px 30px;
    display: block;
    font-size: 30px;
    border: none;
    background: #4d4d4d;
    background: linear-gradient(#4d4d4d, #222);
    border: 1px solid #222;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 1px 0 black;
    cursor: pointer; }
    .modal .restart:hover {
      background: linear-gradient(#222, black); }
  .modal .message {
    text-align: center; }
    .modal .message a {
      text-decoration: none;
      color: #28afe6;
      font-weight: bold; }
      .modal .message a:hover {
        color: #56c0eb;
        border-bottom: 1px dotted #56c0eb; }
  .modal .share-text {
    text-align: center;
    margin: 10px auto; }
  .modal .social {
    margin: 20px auto;
    text-align: center; }
    .modal .social li {
      display: inline-block;
      height: 50px;
      width: 50px;
      margin-right: 10px; }
      .modal .social li:last-child {
        margin-right: 0; }
      .modal .social li a {
        display: block;
        line-height: 50px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px; }
        .modal .social li a.facebook {
          background: #3b5998; }
          .modal .social li a.facebook:hover {
            background: #4c70ba; }
        .modal .social li a.google {
          background: #D34836; }
          .modal .social li a.google:hover {
            background: #dc6e60; }
        .modal .social li a.twitter {
          background: #4099FF; }
          .modal .social li a.twitter:hover {
            background: #73b4ff; }
